extends ../layouts/common.pug

block content
  h1 Users
    
  a.mb-1.btn.btn-primary(href="/users/create") New

  form(action="/users/search", method="GET", class="d-flex")
    input(type="text", name="q", class="form-control")
    button(class="btn btn-primary") Search

  table.table
    tr 
      th Name
      th Phone
      th Detail

    each user in users
      tr
        td= user.name
        td= user.phone
        td
          a.btn.btn-link(href='/users/' + user.id) View