extends ../layouts/common.pug

block content
  h1 View user 

  p 
    b Id 
    span= user.id
    br
    b Name 
    span= user.name
    br
    b Phone
    span= user.phone
    br
    b Email 
    span= user.email